<main>
    <section class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <img class="w-50" src="../assets/img/wellcome.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">To test application</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4 class="text-info text-center mt-4">For init demo, can you click in go or how to init because learn use.</h4>
        </div>
      </div>
      <div class="row my-5">
        <div class="col d-flex justify-content-center">
          <a routerLink='/dashboard'>
            <button class="btn btn-outline-primary">Go</button>
          </a>
        </div>
        <div class="col d-flex justify-content-center">
          <a href="#">
            <button class="btn btn-outline-secondary">How to init</button>
          </a>
        </div>
      </div>
    </section>
  </main>
