.icons-search-nav{
    width: 15px;
    height: 15px;
}

.icons-date-nav{
    width: 20px;
    height: 20px;
}

.bg-filter-nav{
    background-color: #DEDEDE;
    border-radius: 1.5em;
}

.bg-nav-navigation{
    background-color: #EDEDED;
}

.bg-btn-dashboard{
    background-color: #eeeeee;
}

.container-nav-buttons{
    width: 33%;
}

.icon-pag-nav{
    width: 20px;
    height: 20px;
}

.input-pag-nav{
    width: 2.9em;
    font-size: 0.8em;
}