<main>
    <section class="container py-5">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <img class="w-50" src="../../assets/img/404.jpg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">Error 404</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4 class="text-info text-center mt-4">Section not exits</h4>
        </div>
      </div>
    </section>
  </main>
